.category > span {
  display: block;
  font-weight: 800;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.category {
  padding-bottom: 1.25rem;
  padding-top: 1.1rem;
}

.category:not(:last-child) {
  border-bottom: 0.0625rem solid var(--heavenly-transparent);
}

.amount, .cat {
  color: var(--blue);
}

.details {
  font-weight: 400;
}