
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 2rem;
}

.year, .month {
  width: 100%;
  display: flex;
  gap: 2rem;

}

.year {
  height: 40%;
}

.month {
  height: 60%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.month1, .month2 {
  width: 50%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.year1, .year2 {
  max-height: 100%;
  width: 50%;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
}

.create {
  color: transparent;
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;

  /* unseelct */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none; 
}

.swiper-slide.swiper-slide-active .create {
  color: #214FF1;
}

.month1 .swiper-slide.swiper-slide-active > .create::before,
.month2 .swiper-slide.swiper-slide-active > .create::before  {
  content: '';
  display: block;
  position: relative;
  right: 10px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.month1 .swiper-slide.swiper-slide-active > .create::before {
  background: blue;
}

.month2 .swiper-slide.swiper-slide-active > .create::before {
  background: #3bd0ff;
}

.swiper-slide.swiper-slide-next > .create {
  color: #9ba5f8 !important; 
  font-size: 0.8rem !important;
}

.swiper-slide.swiper-slide-prev > .create {
  color: #9ba5f8 !important; 
  font-size: 0.8rem !important;
  
}
/* 
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
} */

#root {
  height: 100% !important;
}

html,
body {
  position: relative;
  height: 100%;
}