.navbar {
  position: fixed;
  z-index: 999;
  width: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  background-color: var(--cream);
  padding: 0.8rem 0;
  box-shadow: var(--shadow-navbar);
}

.navbar .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar .item .link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar .item .icon {
  color: var(--blue);
  font-size: 1.7rem;
}

.navbar .item .title.active {
  color: #214ff1;
}

.navbar .material-icons.active {
  color: #214ff1;
}
