.rdp-caption_label {
  color: var(--blue);
  font-size: 1.625rem;
  font-weight: 700;
}

.rdp-head_cell {
  font-size: 1rem;
  color: var(--black);
}

.rdp-button_reset {
  font-size: 1rem;
  color: var(--blue);
  font-weight: 700;
}

.rdp-day_selected:not([aria-disabled='true']), 
.rdp-day_selected:focus:not([aria-disabled='true']), 
.rdp-day_selected:active:not([aria-disabled='true']), 
.rdp-day_selected:hover:not([aria-disabled='true']) {
  color: var(--blue);
  background-color: transparent;
  border: 0.125rem solid var(--blue);
}

.rdp-button:hover:not([aria-disabled='true']) {
  background-color: transparent;
}

.rdp-button:focus, .rdp-button:active {
  color: var(--blue);
}

.rdp-day_selected[aria-pressed='true'] {
  border-radius: var(--radius);
}

.rdp-button:focus,
.rdp-button:active {
  border-color: transparent;
}
/* RANGE */

.rdp:not([dir='rtl']) .rdp-day_range_start:not(.rdp-day_range_end) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none; 
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}

.rdp:not([dir='rtl']) .rdp-day_range_end:not(.rdp-day_range_start) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none; 
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.rdp-day_range_middle.rdp-day_selected {
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.rdp {
  margin: 0;
}
