.wrapperChart {
  padding: 1.25rem 1.25rem 2rem;
  border-radius: var(--radius);
  background: var(--white);
  box-shadow: var(--shadow-xs);
}

.swiper {
  margin: 0.5rem;
}

.mb {
  margin-bottom: 1rem;
}