.input {
  border: none;
  border-bottom: 0.125px solid var(--heavenly);
  background-color: transparent;
  color: var(--heavenly);
  padding: 0.625rem 0;
  font-size: 1rem;
  padding-left: 0.5rem;
  width: 100%;
}

.input[type="password"] {
  letter-spacing: 0.7rem;
}

.input:focus {
  outline: none;
  color: var(--blue);
  border-bottom: 0.125rem solid var(--blue);
}