.wrapper {
  margin-left: -1.25rem;
  margin-right: -1.25rem;
}

.blue {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.3rem 1.2rem 2.8rem;
  background-color: var(--blue);
}

.blue h1 {
  color: var(--white);
}

.white {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  background-color: var(--white);
}

.white button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  color: var(--blue);
}

.remember {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 1rem;
  background-color: var(--white);
  border: 0.125rem solid var(--heavenly);
  border-radius: var(--radius);
}