:root {
  --animation-rgba: rgba(130, 130, 130, 0.2);
  --animation-wk-rgba: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(8%, rgba(130, 130, 130, 0.2)),
    color-stop(18%, rgba(130, 130, 130, 0.3)),
    color-stop(33%, rgba(130, 130, 130, 0.2))
  );
  --animation-gradient: linear-gradient(
    to right,
    rgba(130, 130, 130, 0.2) 8%,
    rgba(130, 130, 130, 0.3) 18%,
    rgba(130, 130, 130, 0.2) 33%
  );
}

/* VAR */

.containerLeft {
  flex: 2;
}

.square {
  aspect-ratio: 800/320;
  border-radius: 5px;
  background: var(--animation-rgba);
  background: var(--animation-wk-rgba);
  background: var(--animation-gradient);
  background-size: 800px 100px;
  animation: wave-squares 2s infinite ease-out;
}
.line {
  height: 12px;
  margin-bottom: 6px;
  border-radius: 5px;
  background: var(--animation-rgba);
  background: var(--animation-wk-rgba);
  background: var(--animation-gradient);
  background-size: 800px 100px;
  animation: wave-lines 2s infinite ease-out;
}

.one {
  width: 8rem;
  height: 1.6rem;
}

.two {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
}

.three {
  width: 4rem;
  height: 1.3rem;
}

.four {
  width: 7rem;
  height: 1.6rem;
}

.five {
  width:  10rem;
  height: 10rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bg {
  width: 100%;
  border-radius: 5px;
  padding: 1.2rem 0;
}

.mb2 {
  margin-bottom: 2rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.container .line:last-child {
  margin-bottom: 0;
}

@keyframes wave-lines {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
@keyframes wave-squares {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
