*, 
*::before, 
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ol, ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
}

input {
  border: none;
  padding: 0;
}

#root {
  width: inherit;
  height: inherit;
}