.switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.690rem;
}

.switch .input_hidden {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 2rem;
}

.slider::before {
  position: absolute;
  content: "";
  height: 1.25rem;
  width: 1.25rem;
  left: 4px;
  bottom: 4px;
  background-color: var(--white);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.input_hidden:checked + .slider {
  background-color: var(--blue-transparent);
}

.input_hidden:focus + .slider {
  box-shadow: 0 0 1px var(--blue-transparent);
}

.input_hidden:checked + .slider::before {
  -webkit-transform: translateX(1.25rem);
  -ms-transform: translateX(1.25rem);
  transform: translateX(1.25rem);
}
