.title-chart.left {
  text-align: left;
  font-size: 1.25rem;
  color: var(--blue);
  margin-bottom: 1.5rem;
}

.title-chart.center {
  text-align: center;
  font-size: 1.12rem;
  color: var(--blue);
  margin-bottom: 1.5rem;
}