.chart-container-vertical {
  position: relative;
  padding: 3.8rem 0 3rem 0;
}

.chart-container-vertical + .stats {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.circle {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 100%;
  margin-right: 1rem;
}

.one,
.two {
  display: flex;
  align-items: center;
}

.one .circle {
  background-color: var(--marine);
}

.two .circle {
  background-color: var(--blue);
}
