.wrapper {
  min-height: 81vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

.modal {
  flex: 1;
  margin-bottom: 20px;
  padding: 1.25rem 1.25rem 2rem;
  border-radius: var(--radius);
  background: var(--white);
  box-shadow: var(--shadow-xs);
}

.top {
  display: flex;
  justify-content: space-between;
}

.edit {
  margin-top: 13vh;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.edit h3 {
  text-align: center;
  margin-bottom: 2rem;
}