.fileInput input {
  display: inline-block;
  width: 0;
  height: 0;
  opacity: 0;
  display: none;
}

.fileInput div {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  background-color: var(--white);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.fileInput span {
  font-size: 2.5rem;
  color: var(--heavenly);
}

.example {
  object-fit: contain;
  width: 8rem;
  height: 5rem;
  margin-left: 2rem;
  border-radius: var(--radius);
  box-shadow: var(--shadow-xs);
}

.wrapper {
  display: flex;
}
